# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
env/
venv/
.env
.env.*
.pytest_cache/
.coverage
.coverage*
coverage.xml
htmlcov/
.mypy_cache/
.pyre/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs & Database
*.log
*.sqlite3

# Editors/IDE
.vscode/
.idea/
*.swp

# Docker
**/node_modules/
**/.next/
**/coverage/

# Archives
*.zip
*.tar
*.tar.gz

